./logs
./__pycache__
venv/
./.env
./db.sqlite3
.env
db.sqlite3
__pycache__/groq_transcriber.cpython-312.pyc
logs/debug.log
logs/error.log
logs/*
whatsapp_handler_mi.py
.whatsapp_handler.py.swp
__pycache__/cf_transcriber.cpython-312.pyc
gus_whatsapp.service
whatsapp_gus.service
whatsapp_handler_refactor_mom.py
exclude.txt
reqs_installed
start.sh
llm_out.txt
.pidfile
