[Unit]
Description=Restart WhatsApp Mime and Gus services

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart whatsapp_mime.service whatsapp_gus.service

[Install]
WantedBy=default.target
