[Unit]
Description=Restart WhatsApp transcription service(s)

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart whatsapp_gus.service whatsapp_mime.service whatsapp_mom.service

[Install]
WantedBy=default.target
